{% if page.post_list == "date" %}
<!-- list of articles: sort by date (by default) -->
<h1 class="loa">Lista de Entradas, ordenadas por fecha</h1>
<table>
    <thead>
        <tr>
            <th> TÍTULO </th>
            <th> FECHA </th>
            <th> CATEGORÍA </th>
        </tr>
    </thead>
    <tbody>
        {% for post in site.posts %}
        </tr>
        <td class="td_title"><a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a></td>
        <td class="td_date">{{post.date | date: "%b %d, %y"}}</td>
        <td class="td_category">{{post.category}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elsif page.post_list == "category" %}
<!-- list of articles: sorted by category-->
<h1>Lista de Entradas, ordenadas por Categoría</h1>
<table>
{% for cate in site.categories %} 
{% capture cate_name %}
{{ cate | first }}
{% endcapture %}
<table id="t_{{ cate_name | slugzie }}">
    <thead>
        <tr>
        <th id="cate_name"><i class="fa fa-tags"></i>{{ cate_name }}</th>
        <th></th>  
        </tr>
    </thead>
  <tbody>
    {% for post in cate[1] %}
    <tr>
      <td class="td_title">
        <a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
      </td>
      <td class="td_date">{{ post.date | date: "%b %d, %y" }}</td>
    </tr>
    {% endfor %}
  </tbody>
{% endfor %}
</table>
{% endif %}
