---
layout: default
comments: true
---

<h1>
  {{ page.title }}
</h1>
{% include post_info.html %}
{{ content }}
<br/>
<br/>
<p align="center"><img src="https://hijosdeinit.gitlab.io/assets/img/hormiga_alfa.png" alt="H i j o s D e I n i t"></p>
<br/>
--- --- ---
<br>
<span style="color:lime">COMENTARIOS</span>
<br>
<span style="color:lime"><small>Este blog no cuantifica ni monetiza al visitante. Sean muchos, sean pocos, no me importan esos detalles, de dónde vienen o a dónde van; lo que aquí se expone está escrito por puro placer. Este blog prefiere sacrificar un sistema de comentarios cómodo en pro de la privacidad del visitante. Incorporar sistemas de comentarios como 'Disqus' u otros suministra telemetría a terceros, es contrario a la privacidad y una falta de respeto al lector.</small></span>
<br>
<br>
<span style="color:orange"><big><b>✉</b></big></span><span style="color:lime"> Siéntanse libres de comentar, corregir o comunicar. Para ello pueden dirigirme un correo electrónico a </span><span style="background-color:lime";><span style="color:black"><b><big>hijosdeinit@protonmail.com</big></b></span></span><span style="color:lime">. Pronto o tarde, siempre respondo.</span>
<br>
<b><big>♫</big></b> <small><a href="https://odysee.com/@hijosdeinit:4" target="_blank">hijosdeinit - <b>Canal de video en Odysee/lbry</b></small></a>
<br>
<b><big>♪</big></b> <small><a href="@@@@@@@@@@@@@@@@"target="_blank">hijosdeinit - <b>Podcast</b> (en construcción)</a></small>
<br>
<br>
<hr/>
<br/>
